body 
{ 
    font-family: sans-serif;
}

.theme-black {
	background-color: #444444;
    color: #D6DBDF;
}

.theme-white {
	background-color: #F9F9F5;
    color: #2C3E50;
}

.table-striped-black tbody > tr:nth-child(2n+1) > td, .table-striped-black tbody > tr:nth-child(2n+1) > th {
    background-color: #333333;
}

.table-striped-white tbody > tr:nth-child(2n+1) > td, .table-striped-white tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9F9;
}

body, button, input, select, textarea {
	font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: Helvetica Neue, Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

p, pre, blockquote {
    margin: 0 0 20px;
}

dl {
    margin-bottom: 20px;
}

dt, dd {
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 40px;
}

h1 {
  margin: 30px 0;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

code, pre {
  font-size: 14px;
}

.element-center {
    text-align: center;
    margin: 0 auto;
}

#editor-nav-bar {
    background-color: #444;
}

#wmd-button-bar {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#preview-button-bar {
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#article-title-bar {
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #BBB;
    font-size: 18px;
}

#article-title-bar a {
    font-size: 16px;
    color: #BBB;
    margin-left: 25px;
}

#article-title-bar a:hover {
    color: #F5F5F9;
}

#left-column, #right-column
{
	width: 50%;
}

.wmd-panel-editor, .wmd-panel-preview {
    padding-left: 20px;
    padding-right: 20px;
}

/* font-size, font-family and line-height of .wmd-input and #md-section-helper should be totally same, otherwise, there will be mismatch. */
.wmd-input, .wmd-input:focus, #md-section-helper
{ 
	width: 100%;
	border: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    font-size: 16px;
    line-height: 27px;
    resize: none;
    overflow-x: hidden;
}

#md-section-helper {
    position: absolute;
    top: -100px;
    height: 40px;
    overflow-y: scroll;
    padding: 0 6px;
    top: -100px;
    z-index: -1;
}

/* wmd full editor, hidden when loading. */
.editor-reader-full-hidden {
    position:absolute;
    top: -1000px;
    z-index: -1;
}

.editor-reader-full-shown {
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.wmd-button-bar-full-shown {
    margin: 0 auto;
    border-bottom: 1px solid #dddddd;
    width: 50%;
}

.wmd-panel-editor-full-shown {
    text-align: center;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.preview-container {
    overflow: auto;
}

.wmd-preview { 
	width: 100%;
    font-size: 16px;
    line-height: 27px;
    overflow: auto;
    border: 2px dashed #BBBBBB;
    padding-left: 5px;
    padding-right: 5px;
}

.wmd-button-row, .preview-button-row
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: auto;
}

/*
.wmd-button-row {
    min-width: 800px;
}
*/

.wmd-spacer
{
	width: 0px; 
	height: 20px; 
	margin-left: 30px;

	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button, .preview-button {
    width: 20px;
    height: 20px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    font-size: 17px;
}

.wmd-button {
    margin-left: 10px;
}

.preview-button {
    margin-right: 10px;
}

.wmd-button > span, .preview-button > span {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 40px;
}
.wmd-spacer2
{
    left: 170px;
}
.wmd-spacer3
{
    left: 295px;
}

.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
