// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Add for ol, ul indent issue.
article {
  ol, ul {
    padding-left: 2em;
  }
}
